div {
    border-style: solid;
    border-width: 5px;
    border-color: palegreen;
    padding: 30px;
}

.container {
    border-color: silver;
}

.row {
    border-color: black;
}

.list-group-item{
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
body {
    background-image: url('')
}